


</div>

</section>

<!-- blog content wrapper end -->




</main>
<!-- main page content section ends -->



<!-- footer start -->
<footer class="footer">
    <div class="container">

        <div class="about-us">
            <h2>about us</h2>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Natus at aliquid quasi animi nostrum magni
                rem quisquam aliquam. Recusandae, eum!</p>
        </div>


        <div class="newsletter">
            <h2>newsletter</h2>
            <p>stay updated !</p>
            <!-- <div class="form-element"> -->
                <form action="/subscribe" method="post">
                    <!-- this is tricky one burh  the space between the input tag and the span tag should be removed !!!!!!!!!!!!!!! -->
                    <input type="text" placeholder="Email" name="newsletterEmail">
                    <button type="submit" name="button">Subscribe !</button>
                    <!-- <span><i class="fas fa-chevron-right"></i></span> -->
                </form>
            <!-- </div> -->
        </div>


        <div class="instagram">
            <h2>instagram</h2>
            <p>
                Authors selected instagram posts
            </p>
            <div class="flex-row">
                <img src="assets/instagram/thumb-card3.png" alt="image">
                <img src="assets/instagram/thumb-card3.png" alt="image">
                <img src="assets/instagram/thumb-card3.png" alt="image">

            </div>


            <div class="flex-row">
                <img src="assets/instagram/thumb-card3.png" alt="image">
                <img src="assets/instagram/thumb-card3.png" alt="image">
                <img src="assets/instagram/thumb-card3.png" alt="image">

            </div>


        </div>
        <div class="follow">
            <h2>follow us</h2>

            <div>
                <i class="fab fa-facebook-f"></i>
                <i class="fab fa-instagram"></i>
                <i class="fab fa-twitter"></i>
                <i class="fab fa-youtube"></i>
            </div>
        </div>

    </div>

    <div class="rights flex-row">
        <h4>
            Copyright &copy; all rights reserved | made by
            <a href="https://www.youtube.com" target="_black"> daily tuition <i class="fab fa-youtube"></i> channel</a>
        </h4>
    </div>


    <div class="move-up">
        <span><i class="fas fa-arrow-circle-up fa-2x"></i></span>

    </div>

</footer>

<!-- footer end -->


<!-- jquery file -->
<script src="js/Jquery3.6.0.min.js"></script>

<!-- owl carousel -->
<script src="js/owl.carousel.min.js"></script>


<!-- <script src="js/aos.js"></script> -->


<!-- custom javascript -->
<script src="js/main.js"></script>



</body>

</html>