<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">


    <!-- font Awesome -->
    <link rel="stylesheet" href="/css/all.css">


    <!-- carousel link -->
    <link rel="stylesheet" href="/css/owl.carousel.min.css">

    <link rel="stylesheet" href="/css/owl.theme.default.min.css">

    <!-- <link rel="stylesheet" href="/css/aos.css"> -->

    <!-- custom style -->
    <link rel="stylesheet" href="/css/style.css">


    <title>blog from scratch</title>

</head>

<body>
    <!-- nav bar begin -->
    <nav class="nav">
        <div class="nav-menu flex-row">
            <div class="nav-brand">
                <a href="/" class="text-grey">Omar Fayez Blog</a>
            </div>
            <div class="toggle-collapse">
                <div class="toggle-icon">
                    <i class="fas fa-bars"></i>
                </div>
            </div>

            <div>
                <ul class="nav-items">
                    <li class="nav-link">
                        <a href="/">Home</a>
                    </li>
                    <li class="nav-link">
                        <a href="/about">About Us</a>
                    </li>
                    
                    <li class="nav-link">
                        <a href="contact">Contact Us</a>
                    </li>
                </ul>

            </div>

            <div class="social text-grey">
                <a href="#"><i class="fa-brands fa-facebook-f"></i></a>
                <a href="#"><i class="fa-brands fa-instagram"></i></a>
                <a href="#"><i class="fa-brands fa-twitter"></i></a>
                <a href="#"><i class="fa-brands fa-youtube"></i></a>
            </div>

        </div>

    </nav>
    <!-- nav bar ends -->





    <!-- main page content section starts -->
    <main>

        <!-- blog banner starts -->
        <section class="site-title">

            <div class="site-background" >

                <h3>Discover Your Passion in</h3>
                <h1>The Blockchain Blog</h1>
                <!-- <button class="btn">Explore</button> -->

            </div>

        </section>
        <!-- blog banner ends -->






        <!-- blog content wrapper start -->
        <section class="container">
            <div class="site-content">

               

