<%- include('partials/header'); -%>

<!-- left part of the site start -->
<div class="posts">


    <h1>Contact</h1>



    <p> <%=  contanctContentPart %> </p>


</div>
<!-- left part of the site end -->

<!-- right side of the body (ads area) start -->
<aside class="sidebar">
    <div class="category">
        <h1>Advertisements Area </h1>
    </div>


</aside>
<!-- right side of the body (ads area) end -->


<%- include('partials/footer'); -%>