<%- include('partials/header'); -%>

<div class="posts">

    <h1>thanks for subscribing !!!</h1>
    <div class="thx-button">
        <a href="/"><button type="submit" name="button">back to home !</button> </a>
    </div>

</div>
<%- include('partials/footer'); -%>